* {
  box-sizing: border-box;
}

body {
  background-color: gray;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  background-color: white;
  padding: 2rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.box h3 {
  margin-top: 0;
}

.box p {
  margin: 2rem;
}

.box button {
  background-color: rebeccapurple;
  border: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.box button:active {
  transform: scale(0.90);
}

.box button:focus {
  outline: none;
}